[submodule "editor/lib/zig-objc"]
	path = editor/lib/zig-objc
	url = https://github.com/mitchellh/zig-objc
[submodule "editor/lib/tree-sitter"]
	path = editor/lib/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter/
[submodule "editor/lib/mach-earcut"]
	path = editor/lib/mach-earcut
	url = https://github.com/hexops/mach-earcut/
